@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model DeliveryBookingSystemMVC.Models.User
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{ ViewData["Title"] = "Login"; }
<h1>Admin</h1>

<h4>HomePage</h4>
<hr />
<div class="text-right">
    <a class="btn btn-outline-info" asp-controller="User" asp-action="MainHomePage">Logout</a>
</div>

<div class="row">
    <div class="col-md-4">
        <form asp-action="AdminHomePage">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Customers List</h5>
                    <a class="btn btn-dark" asp-controller="Customers" asp-action="Index">Open</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Executives List</h5>
                    <a class="btn btn-dark" asp-controller="DeliveryExecutives" asp-action="Index">Open</a>
                </div>
            </div>

            @*<div class="form-group">
                    <label asp-for="UserType" class="control-label"></label>
                    @Html.RadioButton("UserType", "Customer")<label>Customer</label>
                    @Html.RadioButton("UserType", "Executive")<label>Executive</label>

                    <span asp-validation-for="UserType" class="text-danger"></span>
                </div>*@
            @*<div class="form-group">
                    <input type="submit" value="Open" class="btn btn-primary" />
                </div>*@
        </form>
    </div>
</div>