@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
<h1>About Us</h1>
<div>
    <p>
        Door to door is a service platform that has been started in the year 2021 with the motive of saving time of busiest people around. People are busy to get back their clothes from tailor shops given for alterations. It is hard to take the lunch boxes in hurry burry morning. It is usual to forget headphones and charger in friends’ home but getting them back is draggy. We built solutions for these problems by making the transferring of items from place to place as effortless.
        <br/>
        We connect customers with delivery partners for safe delivery of items in right place at right time. Customers can send their items to the destined place around the city. Our delivery executives will be a wing for your items so that the items will fly into your hands without spoiling your time. The service is initially started in and around Chennai City. We can pick up and deliver your items to be done in a seamless manner.
    </p>
</div>
<div>
    <a class="btn btn-outline-info" asp-action="MainHomePage"asp-controller="User">Back to Home</a>
</div>