@model DeliveryBookingSystemMVC.Models.User
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{ ViewData["Title"] = "Register"; }
<h1>Register</h1>

<h4>User</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Register">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Customer</h5>
                    <a class="btn btn-dark" asp-controller="Customers" asp-action="Create">Register</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Executive</h5>
                    <a class="btn btn-dark" asp-controller="DeliveryExecutives" asp-action="Create">Register</a>
                </div>
            </div>
            
            @*<div class="form-group">
            <label asp-for="UserType" class="control-label"></label>
            @Html.RadioButton("UserType", "Customer")<label>Customer</label>
            @Html.RadioButton("UserType", "Executive")<label>Executive</label>
            <span asp-validation-for="UserType" class="text-danger"></span>
        </div>*@
            @*<div class="form-group">
            <input type="submit" value="Register" class="btn btn-primary" />
        </div>*@
        </form>
    </div>
</div>
<div class="text-right">
    <a class="btn btn-outline-info" asp-controller="User" asp-action="MainHomePage">Back To HomePage</a>
</div>